{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
News detail
{% endblock %}
{% block content %}
<link href="{% static 'css/news.css' %}" rel="stylesheet">
<!-- 主体内容 -->
<div class="container">
    <div class="model-details-product-title">
        {{mynew.title}}
        <div class="model-foot">Release：{{mynew.publishDate|date:"Y-m-d"}} &nbsp;&nbsp;
            views：{{mynew.views}}</div>
    </div>
    <div class="model-details">
        {{ mynew.description | safe }}
    </div>
</div>
{% endblock %}